@model RestaurantAspCore3.Models.Category
@{
    ViewData["Title"] = "Details Category";
}

<br />
<br />
<div class="row">
    <div class="col-12">
        <h4 class="text-info text-center text-uppercase">
            Details Category
        </h4>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 text-center">
      
        <div>

            <span>

                <strong> @Html.DisplayNameFor(model => model.Name) : </strong>

                @Html.DisplayFor(model => model.Name)

            </span>
            <br /><br />

            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
        </div>
    </div>
</div>


