@model IEnumerable<RestaurantAspCore3.Models.Category>

@{
    ViewData["Title"] = "Index";
}
    <div class="row">
        <br /><br />
        <div class="col-sm-6">
            <h4 class="text-info">Category List</h4>
        </div>

        <div class="col-sm-6 text-right">
            @* CreateButtonPartiel *@
           <partial name="_CreateButtonPartial" />
            @*@Html.Partial("_CreateButtonPartial")*@
            
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            @if (Model.Count() > 0)
            {
                <table class="table table-striped">

                    <tr class="table-secondary">
                        <th class="text-primary">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="text-right">
                                @* _TableButtonPartial *@
                                <partial name="_TableButtonPartial" model=@item.Id/>
                            </td>
                        </tr>
                    }

                </table>}
            else
            {
            <div class="alert alert-info text-center" role="alert">
              no category exists !
            </div>
            }


        </div>
    </div>
     
